.Card{
    .cardTop{
        cursor: pointer;
        display: grid;
        grid-template-columns: 30px 2fr 2fr 80px;
        grid-gap: 18px;
        align-items: center;
        min-height: 130px;
        padding:12px;

        .alert{width:20px; height:40px; background: transparent url('../img/icon_art.svg') -19px -278px no-repeat; background-size:900px}
        .arrow{
            justify-self: center;
            :first-child{width: 40px; height: 40px; color: darken($app-gray, 10%)}
        }

        transition: 0.4s;
        @include border-radius(14px);
        &:hover{background-color: lighten($app-lightgray, 5%); @include boxshadow(0, -1px, 8px, -4px, #000);}
    }

    transition: 0.4s;
    margin: 8px 0;
    background-color: $card-bg-color;
    border: solid 1px $card-border-color;
    @include border-radius(14px);

    h3{font-size:1.3em; padding-right:52px}

    &.active{
        // @include boxshadow(0, 0, 10px, -4px, #000);
        .cardTop{
            &:hover{@include border-radius-custom(18px, 18px, 0, 0);}
        }
    }

    .panel {        
        display:none;
        overflow: hidden;
        p{font-size: 2em}
        
        padding:18px;
        h5{
            @include font(.8, 'Bold'); color: darken($app-medgray, 10%);
            padding:12px 0 6px 0; text-transform: uppercase;
            border-bottom:solid 1px $app-gray;
        }
    }

    @media only screen and (max-width: $medium) {
        .cardTop{
            padding:8px;
            h3{font-size:1.1em; padding-right:46px}
            .arrow{
                :first-child{width: 34px; height: 34px}
            }
        }
    }
    @media only screen and (max-width: $small) {
        &.active{.cardTop{&:hover{@include border-radius-custom(6px, 6px, 0, 0);}}}

        .cardTop{
            .alert{width:14px; height:28px; background: transparent url('../img/icon_art.svg') -14px -202px no-repeat; background-size:640px}
            min-height: 90px;
            grid-template-columns: 20px auto 100px 40px;
            grid-gap: 8px;
            h3{font-size:1em; padding-right:12px}
            @include border-radius(6px);
            .arrow{
                :first-child{width: 28px; height: 28px}
            }
        }
        margin: 2px 0;
        @include border-radius(6px);
    }
    @media only screen and (max-width: $xsmall) {
        .cardTop{
            h3{font-size:.9em}
        }
    }
}


