
header{
    transition:0.2s;
    &.active{box-shadow: 0 -16px 18px 12px #000}

    color: $header-text-color;
    background-color: rgba(5, 26, 52, .8);
    text-align: center;
    padding: 0 0 0 12px;

    & > div{
        #mnav{display:none;}
        display: grid;
        grid-template-columns: 240px auto 54px 54px 54px;
        grid-gap: 0;
        grid-auto-rows: 54px;
        align-items:center; 
        
        .Head-logo img{
            transition:0.4s;
            height:26px; max-width:240px; margin:0 4px
        }

        @media only screen and (max-width: $medium) {
            .Head-logo img{height:18px; max-width:90px}
            grid-template-columns: auto auto 54px 54px 54px;
            grid-auto-rows: auto;
        }

        @media only screen and (max-width: $small) {
            #mnav{
                display:block;
                padding-top: 8px;
                border-right: solid 1px rgba(255, 255, 255, .2);
                margin-right: 12px;
            }
            .Head-profile{display:none}
            grid-template-columns: 54px auto 54px 54px;
        }
    }

    @media only screen and (max-width: $small) {padding:0}

    .Head-search{
        background-color: $blue-dark;
        &:hover{background-color: lighten($blue-dark, 6%)}
    }
    .Head-profile{
        &:hover{background-color: rgba(5, 26, 52, .4)}
    }
    .Head-message{
        &:hover{background-color: rgba(5, 26, 52, .4)}
    }
}