.Head-profile{
    .profile-dropdown{
        position:absolute;
        right:0;
        background-color: rgba(5, 26, 52, .9);
        min-width:300px;
        padding:0 8px;
        li{
            a{
                font-size:.9em;
                color:#fff;
                display:block;
                text-align: left;
                padding:18px 24px 18px 8px;
                border-bottom: solid 1px transparent;
                &:hover{color:$link-color; border-bottom:solid 1px rgba(255, 255, 255, 0.3)}
                &.roleview{
                    border-top:solid 1px rgba(255, 255, 255, 0.3);
                    &:hover{border-bottom:solid 1px transparent}
                }
            }
        }
    }
}